<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>180150640144-1a2tkkc92eip36mvk770ubs0e1lgqibp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180150640144-1a2tkkc92eip36mvk770ubs0e1lgqibp</string>
	<key>API_KEY</key>
	<string>AIzaSyDsrdxiyNbf-8q6_MrLDfYmXLyNbFqqWUI</string>
	<key>GCM_SENDER_ID</key>
	<string>180150640144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.city.tourApp</string>
	<key>PROJECT_ID</key>
	<string>tour-app-d3ebb</string>
	<key>STORAGE_BUCKET</key>
	<string>tour-app-d3ebb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180150640144:ios:b53ab9ec2e605a26007495</string>
</dict>
</plist>